.container {
    text-align: center;
    font-size: 30px; /* Corrected unit from 30x to 30px */
    color: #002200;
    font-weight: bold;
    gap: 30px; /* Corrected unit from 30 to 30px */
  }
  

 .textarea {
    width: 100%;
    padding: 30px;
    font-size: 30px;
    border: 1px solid #ccc; /* Border style */
    border-radius: 4px;
    margin-bottom: 10px; /* Space between input fields */
  }
  